<!DOCTYPE html>
<html lang="en">

<head>
    <title>Liver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/template.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
</head>

<body>
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="index.html">
                <i class='bx bx-buildings bx-sm text-dark'></i>
                <span class="text-dark h4">Liver </span> <span class="text-primary h4">disease</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{{url_for('login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{{url_for('upload')}}">Upload</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
        <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
            <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
                <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Liver disease</h1>
                <h3 class="h4 pb-2 regular-400">Login</h3>
                <p class="banner-body pb-2 light-300"></p>
            </div>
        </div>
    </div>

    <section class="container py-5">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center">Preview</h1>
        </div>

        <section class="page-section" id="contact">
            <div class="container">
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row" style="margin-left:-400px">
                    <div class="col-lg-8 mx-auto">
                        {{ df_view.to_html(classes="table striped",na_rep="-") | safe}}
                    </div>
                </div>
            </div>
        </section>

        <div class="form-group" style="padding:0px 250px 10px 40px;height:200px">
            <input style="margin-left:350px" type="button" onclick="hideLoader()" class="btn btn-primary" value="Click to Train | Test" />
            <div id="loading" style="display:none;margin-top:552950px"></div>
        </div>
    </section>

    <script type='text/javascript'>
        function hideLoader() {
            $('#loading').show(0).delay(10000).hide(0,function(){
                alert("Training finished!");
                window.location = "{{url_for('prediction')}}";
            });
        }
    </script>

    <footer class="bg-secondary pt-4">
        <div class="container">
            <div class="row py-4"></div>
            <div class="w-100 bg-primary py-3">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-lg-6 col-sm-12"></div>
                        <div class="col-lg-6 col-sm-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/fslightbox.js"></script>
    <script>
        fsLightboxInstances['gallery'].props.loadOnlyCurrentSource = true;
    </script>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/isotope.pkgd.js"></script>
    <script src="../static/assets/js/templatemo.js"></script>
    <script src="../static/assets/js/custom.js"></script>
</body>

</html>
